.badge2 {
  position: relative;
  color: white;
  font-size: 8px;
  font-weight: 600;
  border-radius: 2px;
  background-color: #8843FB;
  margin-right: 7px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}