.flag {
  font-size: 14px;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 16px 8px 30px;
  background-image: url(/assets/svg/begin_bg.svg);
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-weight: 600;
  background-position: center;
  background-size: 100%;
}