.boosting-header {
  .banner {
    padding-left: 10%;
    padding-right: 10%;
    .title {
      font-family: 'Oswald Custom', sans-serif;
      font-weight: 700;
      font-size: 60px;
      color: white;
      text-align: center;
    }

    .desc {
      font-family: 'Oswald Custom', sans-serif;
      font-weight: 200;
      font-size: 20px;
      color: white;
      text-align: center;
    }
  }
}